{%extends "Apps1/base.html" %}
{% load crispy_forms_tags %}
{% block content %}

<form action="" method="post" autocomplete="off">
    {% csrf_token%}
    {{form.fullname|as_crispy_field}}
    {{form.NIM|as_crispy_field}}
    <div class="row">
        <div class="col-md-4">
            {{form.Mobile|as_crispy_field}}
        </div>
        <div class="col-md-8">
            {{form.position|as_crispy_field}}
        </div>
    </div>
        <div class="col-md-20">
            <button type="Submit" class="btn btn-success btn-block btn-lg"><i class="fas fa-save"></i> Save Data </button>
        </div>
        <div class="col-md-20">
            <a href="{% url 'student_list' %}" class="btn btn-secondary btn-block btn-lg">
                <i class="fas fa-stream"></i> List Data </i>
            </a>
        </div>
    </div>
</form>
{% endblock content %}
